node_modules/
dev/
/factorio-server-manager*
/factorio_server_manager*
auth.leveldb*
conf.json
*.exe
build/
/mod_packs/*
npm-debug.log
.idea/
/package-lock.json
factorio.auth
/pkg/
mix-manifest.json
/app/**/vendor/
/app/*.js*
/app/*.css*
.vscode
