language: go
go:
 - "1.10"
 - "1.11"
 - "1.12"
 - tip

install:
  - go get github.com/apexskier/httpauth
  - go get github.com/go-ini/ini
  - go get github.com/gorilla/mux
  - go get github.com/hpcloud/tail
  - go get github.com/gorilla/websocket
  - go get github.com/majormjr/rcon
  - export GOPATH="$HOME/gopath/src/github.com/mroote/factorio-server-manager/:$GOPATH"

script:
 - go test -v ./...
