.content-header {
    > h1 {
        margin: 0;
        font-size: 24px;

        > small {
            font-size: 15px;
            display: inline-block;
            padding-left: 4px;
            font-weight: 300;

            line-height: 1;
            color: #777;
        }
    }
}