.card {
    .btn-tool {
        &:not(.btn-collapse) {
            margin-left: 10px;
            margin-right: 10px;
        }

        &.btn-danger {
            @extend .btn-danger;
            color: white;
        }

        &.btn-collapse {
            display: inline-block;
        }
    }

    .card-header {
        display: flex;
        align-items: center;

        .card-title {
            display: inline-block;
        }

        .card-tools {
            top: unset;
        }

        .btn-tool.active {
            @extend .btn-tool:hover
        }
    }
}