.swal-btn {
    @extend .btn;

    margin: 0 .3125em;
    padding: .625em 2em;
}

.swal2-popup {
    .swal2-content {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .swal2-input {
            @extend .form-control;
            height: 2.625em;
            padding: 0.75em;
        }

        table tr.incompatible {
            background: rgba(255, 68, 68, 0.21);
        }
        table tr:nth-child(even).incompatible {
            background: rgba(255, 0, 0, 0.31);
        }
    }
}