@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

.accentuated-t {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.accentuated-r {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.accentuated-b {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.accentuated-l {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.accentuated {
  @apply .accentuated-t .accentuated-r .accentuated-b .accentuated-l
}

.accentuated-x {
  @apply .accentuated-r .accentuated-l
}

.accentuated-y {
  @apply .accentuated-t .accentuated-b
}

.hover\:glow-orange:hover {
  box-shadow: 0 0 3px 1px rgba(227, 152, 39, 0.8);
}

.hover\:glow-green:hover {
  box-shadow: 0 0 3px 1px rgba(94, 182, 99, 0.8);
}

.hover\:glow-red:hover {
  box-shadow: 0 0 3px 1px rgba(254, 90, 90, 0.8);
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2px; /* Specified height */
  outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  @apply .bg-black

}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  @apply .bg-gray-light .cursor-pointer .h-2
}

.slider::-moz-range-thumb {
  @apply .bg-gray-light .cursor-pointer .h-2
}